* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/IMAGENES/FONDO-DE-LA-APP.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.container {
  width: 90%;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
}

/* Se maneja el texto del título "Calculando Infusiones" */
h1 {
  font-size: 3rem;
  position: fixed;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 
    1.9px 1.9px 1px #02273b,  
    -1px -1px 1px #02273b,  
    1.9px -1px 1px #02273b,
    -1px 1.9px 1px #02273b; /* Sombra blanca para simular el borde */
  top: 5px;
  left: 30%;  /* Alinea el texto al lado izquierdo */
  transform: translateX(-50%);
  text-align: right;
}

/* Se maneja toda el container de medicamentos */
.card-container {
  display: flex;
  flex-wrap: wrap;    /* Los elementos se envuelven */
  gap: 10px;         /* Espacio entre elementos */
  margin-top: 150px; /* Espacio para la báscula fija y el título */
}

/* Se maneja todas las cards de medicamentos */
.card {
  background: #035785;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el contenido verticalmente */
}

.card:hover {
  transform: scale(1.05);
}

/* Se maneja el título de las cards de medicamentos */
.card h2 {
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Se maneja el subtítulo de las cards de medicamentos */
.card .result {
  margin-top: 1px;
  font-size: 0.9rem;
  color: #ffffff;
}

/* Se maneja el container de la Báscula */
.container5 {
  position: fixed;
  top: 80px; /* Debajo del título */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%); /* Centrado exacto */
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  padding: 10px;
  width: 90%; /* Ocupa el 90% del ancho en móviles */
  max-width: 300px; /* Ancho máximo en pantallas grandes */
  text-align: center;
  font-size: 0.8rem;
  color: #035785;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Se maneja el botón calcular de la Báscula */
.card5 {
  width: 100%;
  margin: auto; /* Centrado en pantallas grandes */
}

#pesoPaciente {
  width: 100%;
  margin: 5px auto 0;
  font-size: 0.9rem;
  padding: 0px;
}

.form-group {
  margin-bottom: 5px;
}

/* Maneja el Botón Calcular */
button {
  padding: 10px;
  width: 100%;
  margin-top: 0px;
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004799;
}

/* Media Queries para dispositivos móviles */
/* Para tablets */ 
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    top: 10px;
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Centrado exacto */
  }

  .card-container {
    margin-top: 190px; /* Espacio para la báscula fija y el título */
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre tarjetas */
  }

  .card {
    flex-basis: calc(50% - 5px); /* Dos tarjetas por fila */
    padding: 10px;
  }

  .card h2 {
    font-size: 1rem;
  }

  .card .result {
    font-size: 0.8rem;
  }

  .container5 {
    top: 80px; /* Debajo del título */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Centrado exacto */
    width: 90%; /* Ocupa el 90% del ancho en móviles */
    max-width: none; /* Elimina el ancho máximo en móviles */
    font-size: 0.8rem; /* Reduce el tamaño de la fuente en móviles */
  }

  .card5 {
    padding: 10px;
    font-size: 0.8rem;
  }

  #pesoPaciente {
    font-size: 0.8rem;
  }
}

/* Estilos específicos para pantallas de 480px o menos, Para móviles pequeños */
@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
    top: 5px;
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Centrado exacto */
  }

  .card-container {
    margin-top: 190px; /* Espacio para la báscula fija y el título */
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre tarjetas */
  }

  .card {
    flex-basis: calc(50% - 5px); /* Dos tarjetas por fila */
    padding: 8px;
  }

  .card h2 {
    font-size: 0.9rem;
  }

  .card .result {
    font-size: 0.7rem;
  }

  .container5 {
    top: 65px; /* Debajo del título */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Centrado exacto */
    width: 90%; /* Ocupa el 90% del ancho en móviles */
    max-width: none; /* Elimina el ancho máximo en móviles */
    font-size: 0.7rem; /* Reduce el tamaño de la fuente en móviles */
  }

  .card5 {
    padding: 8px;
    font-size: 0.7rem;
  }

  #pesoPaciente {
    font-size: 0.7rem;
  }
}

